/* Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas:
    'topbar topbar'
    'sidebar content';
  height: 100vh;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  grid-area: topbar;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  background-color: lightblue;
  grid-area: sidebar;
}

/* Content */
.content-container {
  background-color: pink;
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding: 1;
  align-items: center;
  height: 20%;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
}

.button-container {
  text-align: end;
}

.button-container > button {
  padding: 1em 2em;
}

.sub-header {
  text-align: end;
}

.workout-container {
  border: 1px solid;
  width: 80%;
}

.workout-container > p {
  margin-left: 2em;
}

/* Sidebar */

.active {
  color: red;
}
