/* Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas:
    'topbar topbar'
    'sidebar content';
  height: 100vh;
  position: relative;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  grid-area: topbar;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background-color: lightblue;
  grid-area: sidebar;
}

/* Content */
.content-container {
  background-color: pink;
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding: 1;
  align-items: center;
  height: 20%;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
}

.button-container {
  align-self: flex-end;
}

.sub-header {
  text-align: end;
}

.workout-container {
  border: 1px solid;
  width: 80%;
}

.workout-container > p {
  margin-left: 2em;
}

/* Sidebar */

.active {
  color: red;
}

/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 4em;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.routine-form {
  display: flex;
  flex-direction: column;
}
